<%= easy_partial 'header' %>
  
  <div id="main" class="landing">
    <div id="branding">
      <img src="/img/wordmark.png" width="109" height="93" alt="Wordmark">
      <h4>Share your backyard garden food stuffs.</h4>
    </div>
    
    <form id="whereareyou" action="/location" method="post">
      <h3>Where Are You?</h3>
      <input  name='postal_code' placeholder="90210"></input> 
      <button type="submit">Find Me</button>
      <a id="find_me"> or locate me with my browser</a>
      
    </form>
    
  </div>
  
  <script>
    $(function() {
      $('#find_me').click(get_location)
    });
  </script>
  
<%= easy_partial 'footer' %>
