<%= easy_partial 'header' %>
  
  <div id="main" class="landing">
    <div id="branding">
      <!-- <img src="/img/wordmark.png" width="109" height="93" alt="Wordmark"> -->
      <img src="/img/drawn-words.png" width="180" alt="Drawn Words">
      <h4>Backyard food garden exchange</h4>
    </div>
    
    <form id="whereareyou" action="/location" method="post">
      <h3>Where Are You?</h3>
      <input  name='postal_code' placeholder="90210"></input> 
      <button type="submit">Find Me</button>
      <a id="find_me"> or get my location from my browser</a>
    </form>
  </div>
  
  <script>
    $(function() {
      $('#find_me').click(get_location)
    });
  </script>
  
<%= easy_partial 'footer' %>
