<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>geo</title> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script> 
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" type="text/css" media="screen" charset="utf-8">
  <script>
 $(function() {
  $('#find_me').click(get_location)
 });
  function get_location() {
    navigator.geolocation.getCurrentPosition(show_map);
  }
  function show_map(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
  }
  
  </script>
</head> 
 
<body> 
 <header>
  <h1>I Got U Got</h1>
  <h2>Neighbourhood Food Garden Exchange</h2>
 </header>

 init with googlemaps: http://diveintohtml5.org/geolocation.html#geo-js 
 <form action="http://maps.googleapis.com/maps/api/geocode/json" method="get">
   <h1 id="find_me">FIND ME</h1>
   <input type='hidden' name='sensor' value='false'>     
   <input  name='address'></input> 
   <input type='submit'></input>
 </form>  
 <footer>
   <p>Awesome Times Are Here To Stay</p>
 </footer>  
</body> 
</html>