<%= easy_partial 'header' %>

<div id="main" class="new-post">

  <form>
    <label name="i_got">I got</label>
    <textarea name="i_got"></textarea>
    <label name="email">my email <span class="comment"> we only use this to send you the edit url for this post.</span></label>
    <input type="text" name="email"></input>
    
    <label name="u_got">U got</label>
    <textarea name="u_got"></textarea>
  </form>  
</div>

<%= easy_partial 'footer' %>
