<div id="subhead">
  <a href="/posts" id="wordmark">
    <img src="/img/wordmark-wide.png" width="188" height="48" alt="Wordmark Wide"><br>
    Backyard Food Garden Exchange</a>
  <a href="/post/new" id="add-new" class="button">add new listing</a>
  <% if page == 'posts' %>
  <div id="search"><input type="text" id="searchbox" placeholder="search"></input><input type="button" id="clearbox" value="X"></input></div>
  <% end %>
</div>