<div id="subhead">
  <a href="/" id="wordmark"><img src="/img/igotyougot-wide.png" width="300" alt="Igotyougot Wide">Backyard Food Garden Exchange</a>
  <a href="/post/new" id="add-new" class="button">add new listing</a>
</div>